.container{
    border: solid 1px black;
    align-content: center;
    margin-top : 5em;
}

.FirstSelect{
    color: aqua;
}    

#Geo-select , #Town-select , #idk-yet , #Year-select
{
    margin-left: 1em ;
}

.row
{
    text-align: left;
    margin-left: 2em ; 
    margin-top: 0.5em;
}