#footer {
	padding-top:0em;
	position: fixed;
	height: 8em;
	bottom: 0em;
	left: 0em;
	right: 0em;
	margin-bottom: 0em;
	text-align: center;
	border: solid 1px; 
}

#imFooter
{
	width: 3.6em;
	height: 100%;
}

#contact
{
	margin-left: 6em;
}
