#mapid {
	height: 26em;
	margin-top: 15px;
}

#myChart1,
#myChart2 {
	height: 45% !important;
}

#myChart1 {
	margin-bottom: 3%;
	margin-top: 3%;
}

#containerGraph {
	width: 35%;
	height: 60%;
	margin-top: 10em;
	float: left;

}

.textMap {
	text-align: left;
}

#containerMap {
	width: 65%;
	height: 45%;
	float: right;
	margin-top: 10em;
}
